page-home {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }


    .tint:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(238, 51, 81, 0.8);
    }

    .card-title {
      text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      margin-top: 0;
      font-size: 4rem;
      cursor: pointer;
      transform: skewY(-4deg) translateY(-50%) translateX(-50%);
      display: block;
      color: white;
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      max-width: 31.25rem;
      font-weight: 700;
      line-height: .9;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }



  }
  .toolbar-title {
    text-align: center;
  }

  h3 {
    font-size: 26px;
  }
}

.card-md {
  box-shadow: none;
  border-radius: 0;
}
