page-events {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      color: white;
    }

    .card-events {
      background-color: #f15b73;
      display: flex;
      flex-direction: column;
      height: 200px;
    }


    .col:nth-child(4n+2) .card-events {
            background-color: #ee3351;
    }

    .col:nth-child(4n+3) .card-events {
            background-color: #ee3351;
    }

    .card-event-header{
        flex: 0 0 auto;
        order: 0;
        align-self: auto;
    }

    .card-event-footer {
      display: block;
      position: absolute;
      bottom: 0;
      left: -1px;
      overflow: hidden;
      width: calc(100% + 2px);
      height: 50%;
      opacity: 1;
      transition: opacity 120ms linear
    }

    .card-event-center {
      display: flex;
      flex: 1 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      order: 0;
      padding-bottom: 20%;
      align-self: auto;
    }

    .position-date{
      display: inline-flex;
      position: relative;
      text-align: center;
      flex-direction: column;
      margin-top: 5.75vw;
    }

    .date-day{
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      font-size: 9.75vw;
      font-weight: 700;
      line-height: .8;
      text-align: center;

      letter-spacing: -.05em;
    }
    .date-month{
      cursor: default;
      text-align: center;
      font-size: 3vw;
      text-transform: uppercase;
    }
    .card-title {
      text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
      position: relative;
      margin-top: 0;
      margin-bottom: 2vw;
      padding: 0 2vw;
      font-size: 2rem;
      cursor: pointer;
      transform: skewY(-4deg);
      display: block;
      color: white;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
    .card-subtitle{
      text-align: center;
      font-size: 3vw;
      text-transform: uppercase;
    }

  }

    .card-md {
      margin: 0;
      width:100%;
      box-shadow: none;
    }



  }

  .fab-md {
    box-shadow: none;
    background-color: #840160;
  }

.toolbar-background-md {
  background-color: transparent;

}

.toolbar {
  position: relative;
  z-index: 10000;
  color:#ffffff;

.toolbar-title-md {
  color:#ffffff;
}
}

.scroll-content {
  z-index: 10;
  /*margin-top: 100px;*/
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    height:500%;
    width:150%;
    border-radius: 0 0 360px 360px;
    position: absolute;
    top:100%;
    /* Rectangle 2: */
    background: #840160;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.50) 100%);
    top:-200%;
    left:-25%;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#ffffff;
  }
