page-events {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      color: white;
    }

    .card-events {
      background-color: #f15b73;
      display: flex;
      flex-direction: column;
    }

.card-event-header{
  flex: 0 0 auto;
  align-self: auto;
}

    .card-event-footer {
      height:50%;
    }

    .card-event-center {
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1 auto;
      flex: 1 auto;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-order: 0;
      order: 0;
      padding-bottom: 20%;
      -ms-flex-item-align: auto;
      align-self: auto;
    }

    .position-date{
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      left: 50%;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 5.75vw;
      transform: translateX(-50%);    
    }

    .date-day{
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      font-size: 9.75vw;
      font-weight: 700;
      line-height: .8;
      text-align: center;

      letter-spacing: -.05em;
    }
    .date-month{
      cursor: default;
      text-align: center;
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      font-size: 3vw;
      text-transform: uppercase;
    }
    .card-title {
      text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      margin-top: 0;
      font-size: 2.5rem;
      cursor: pointer;
      transform: skewY(-4deg) translateY(-50%) translateX(-50%);
      display: block;
      color: white;
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      max-width: 31.25rem;
      font-weight: 700;
      line-height: .9;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
    .card-subtitle{


      text-align: center;
      font-family: "Trade Gothic Condensed", Arial, sans-serif;
      font-size: 3vw;
      text-transform: uppercase;
    }

  }
  }
